*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Open Sans", sans-serif;
  background-color: #EEF2FB !important;
  color: #444444;
  font-size: 20px !important;
 
}
.menuItems ul li{

  text-align: center;
  padding: 2px 2px;
}
#menuItems ul li a{

  text-align: center;
  padding: 2px 2px;
}
.hero-area {
  height: 100%;
  background-image: url("../images/hero-bg.jpg");
  padding-top: 410px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
}
.hero-caption h2 {
  font-size: 60px;
  color: black !important;
  text-transform: capitalize;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero-caption p {
  font-size: 20px;
  color: black !important;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}
.hero-button {
  padding-bottom: 15px;
}


.button-1::after {
  content: "";

  clear: both;

  display: block;

  position: absolute;

  width: 100%;

  height: 0%;

  background-image: linear-gradient(310deg, #ff821a, #ff8b00);

  border-radius: 30px;

  left: 0;

  z-index: -1;

  -webkit-transition: all 0.4s ease-in-out;

  transition: all 0.4s ease-in-out;

  transform: scale(0);

  bottom: 0;
}
@media (max-width:992px){

  .RegisterLogin-container{
    display:  flex;
    
    flex-direction: column;
    text-align: center;
    max-width:200px ;
    margin: 0 auto 0 auto;
    

  }
  #menuItems ul li a{

    text-align: center;
    padding: 5px 2px;
    margin:  5px 2px !important;
   
  }
 

  
}
.button-2 {
  display: inline-block;
  text-transform: capitalize;
  font-weight: 100;
  margin: 10px;
  background: #fff;
  padding: 2px 10px;
  font-size: 15px !important;
  color: #0b2b3c;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  -webkit-transition: tra;
  transition: all 0.4s ease-in-out;
  border: 2px solid #fff;
}
.button-2:hover {
  background-image: linear-gradient(310deg, #ff821a, #ff8b00);
}

.button-2::after {
  content: "";

  clear: both;

  display: block;

  position: absolute;

  width: 100%;

  height: 0%;

  background-image: linear-gradient(310deg, #ff821a, #ff8b00);

  border-radius: 30px;

  left: 0;

  z-index: -1;

  -webkit-transition: all 0.4s ease-in-out;

  transition: all 0.4s ease-in-out;

  transform: scale(0);

  bottom: 0;
}
a,
a:hover,
a:focus {
  color: #da7000;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
#myHeader {
  color: black;
  z-index: 99;
  position: fixed !important;
  top: 0 !important;
  background-color: #5A5957;
  padding: 4px 10px;
}
.custom-shape-divider-bottom-1638549227 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  overflow: hidden;
  line-height: 0;
  border: none !important;
  stroke: transparent;
  stroke-width: 0px;
}
.custom-shape-divider-bottom-1638549227 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  border: none !important;
  stroke: transparent;
  stroke-width: 0px;
}
.hero-caption{

  background-color: #fff;
  z-index: 1;
  padding: 10%;
  border-radius: 10px;
  box-shadow: 4px 5px 10px rgba(21, 19, 19, 0.5);
}
.navbar-nav .nav-link {
  transition: opacity 0.2s ease-in-out;
  opacity: 1 !important;
  color: rgb(234, 243, 251) !important;
  font-size: 15px !important;
  margin-left: 50px;
}

.navbar-nav .nav-link:hover {
  opacity: 0.8 !important;
  color: #e38c00 !important;
}
#myHeader.black,
#navlink .blue {
  color: #fff !important;
  background: #000 !important;
}

.logo {
  color: white !important;
}

.container {
  margin-top: 100px;
  padding: 50px;
}





@media screen and (min-width: 990px) {
  .bars i {
    display: none;
  }
}

@media (min-width: 1400px) {
  .modal-container,
  .table-container {
    max-width: 2320px !important;
  }
}

.modal-container,
.table-container {
  box-shadow: 0.1rem 0 0.9rem 0.6rem rgba(0, 0, 0, 0.1) !important;
  margin: 0 auto !important;
}

.modal-container {
  margin-bottom: 0 !important;
  padding: 20px;
  box-sizing: border-box;
}
/* .modal-top{

  top:20% !important;
 
  bottom: 50% !important;
} */

.card{

  max-width: 600px !important;
  margin: 10px auto;
}
.footer-links-wrapper{
width: 80%;
margin: 0 auto 0 auto;
}

.footer-links-wrapper h1 {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-links-wrapper .plus_icon{
position: absolute;
left:180px;


}

@media (min-width:992px){
  .footer-links-wrapper .plus_icon{
display: none;
  }

}
@media (max-width:991px){
  .footer-links-wrapper ul{
    display: none;
    }
  .footer-links-wrapper .plus_icon{
display: block;
  }

}

.showQuicklink{
  display: block !important;
  }
