.pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
  }
  .breadcrumb {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    font-weight: 600;
  }
  .Adminheader-nav .notifications{
    position: absolute !important;
    inset: 10px -50px auto auto !important;
    /* margin: auto !important; */
    transform: translate(-16px, 38px) !important;
    border-radius: 4px;
    /* padding: 15px;
    padding-bottom: 10px; */
    animation-name: dropdown-animate;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    /* opacity: 0; */
    /* max-height: 0; */
 
    overflow: auto;
    transition: opacity 0.5s ease-in-out, max-height 0.3s ease-in-out;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
    border: medium none !important;
    z-index: 1000 !important;
    background-color: white;
    width: 400px 
  }
 