/* @media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
} */
.logo {
  line-height: 1;
}
.logo img {
  max-height: 26px;
  margin-right: 6px;
}
img,
svg {
  vertical-align: middle;
}
.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}
.Adminheader .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
}
.Adminheader {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
}
.Adminheader svg {
  width: 1.8rem; /* Adjust to desired size */
  height: 1.8rem; /* Maintain aspect ratio */
  fill: currentColor; /* Ensures it inherits text color */
  cursor: pointer;
}
.Adminheader svg:hover {
  color: rgb(0, 115, 255);
}
.Adminheader .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

.Adminheader .search-form {
  width: 100%;
}
.Adminheader .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}
.Adminheader .search-form input:focus {
  border: 1px solid orange !important;
  outline: 1px solid orange;
}
.Adminheader .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.Adminheader .search-form button i {
  color: #012970;
}

.Adminheader-nav > ul {
  margin: 0;
  padding: 0;
}

.Adminheader-nav ul {
  list-style: none;
}
.Adminheader-nav .nav-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 25px;
  position: relative;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.Adminheader-nav .nav-icon {
  font-size: 22px;
  color: #012970;
}

.Adminheader-nav .nav-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 25px;
  position: relative;
}
.Adminheader-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}
.nav-icon svg {
  width: 1.6rem; /* Adjust to desired size */
  height: 1.6rem; /* Maintain aspect ratio */
  fill: currentColor; /* Ensures it inherits text color */
}
.Adminheader-nav .nav-profile {
  color: #012970;
}
.Adminheader-nav .nav-profile img {
  max-height: 36px;
}

.Adminheader-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.Adminheader-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}
#DropItems {
  position: absolute !important;
  inset: 10px -50px auto auto !important;
  margin: 0px !important;
  transform: translate(-16px, 38px) !important;
  border-radius: 4px;
  padding: 10px 0;
  padding-bottom: 10px;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  display: none;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
  border: medium none !important;
  z-index: 1000 !important;
  background-color: #cddfff;
}
#DropItems .dropdown-item {
  font-size: 15px;
  font-weight: bolder;
}
@media (min-width: 992px) {
  #main-container,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 992px) {
  .Adminheader .search-bar {
    position: absolute !important;
    z-index: 1000;
    top: -100px;
    /* display: none; */
    width: 100% !important;
    background-color: #aab7cf;
    padding: 20px !important;
  }
  #DropItems {
    inset: 10px -50px auto auto !important;
  }

  .mysidebar {
    left: -300px; /* Hide by default */
  }

  #main-container,
  #footer {
    margin-left: 0px;
  }
}

.slide-down{

  top: 100% !important;
}
 .slide-up{
  top: -100px;

}
.Adminheader .search-bar {
  max-width: 500px !important;
  padding: 20px !important;
  width: 700px;
  height: 60px;
  display: flex;
  transition: all 0.3s ease-in-out;
  margin-left: auto ;
  margin-right: auto;

}

.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  color: #012970;
}
.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}

.adminLgo {
  background-color: cadetblue;
  width: 100% !important;
}

.m-t-xs {
  margin-top: 1px;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: rgb(199 196 196);
  border: 0;
  opacity: 0.25;
}

.adminMenu li a {
  opacity: 1 !important; /* Adjusted to a valid opacity value */
  font-weight: bold !important;
  transition: opacity 0.3s ease-in-out !important; /* Corrected transition syntax */
  color: white !important;
}

.adminMenu li a:hover {
  opacity: 0.8 !important; /* Fully opaque on hover */
  color: orange !important;
}
.mysidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 300px;
  bottom: 0;
  z-index: 996;
  transition: left 0.3s ease-out;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;

}
.hidesidbar {
  left: -300px;
}
.showsidbar {
  left: 0px;
}

.mainToggler {
  margin-left: 0px !important;
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav .nav-item {
  margin-bottom: 5px;
}
.sidebar-nav li {
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
  list-style: none;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}
.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}

.mysidebar li a:hover {
  background-color: #eef2fb !important;
}

#main-container {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
  /* margin-left: 0px; */
}
